body{
  margin-inline: 20px;
}

#preview{
  margin: 0;
  padding: 0;
  width: 80%;
  height: 500px;

  @media only screen and (max-width: 800px){
    width: 100%;
    height: 300px;
  }

  @media only screen and (min-width: 1440px){
    height: 800px;
  }
}